{% extends 'base.html' %}

 {% block content %}

<center style="color: rgb(251, 4, 136)">

    <h1> 💗Assignment PBP/PBD💗 </h1>

    <h5>Name: </h5>
    <p>{{nama}}</p>

    <button><a href="{% url 'todolist:savetask' %}">Create task</a></button>
    <button><a href="{% url 'todolist:logout' %}">Logout</a></button>

</center>

<style> body{
    background-color:rgb(15, 2, 9);
}
.table{
    margin: 0 auto;
}

.card {
  background: linear-gradient(to bottom, #ea5bc2 0%, #f9dcec 100%);

}

.card:hover{
  transform: scale(1.1);

  }
  .card{
      transition: transform .5s;
  }

</style>


<center>

  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% comment %} Add the data below this line {% endcomment %}
      {% for task in todolist %}
  
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
  
            <h5 class="card-title">{{ task.user }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ task.date }}</h6>
            <h6 class="card-subtitle mb-2 text-muted">{{ task.title }}</h6>
            <h6 class="card-subtitle mb-2 text-muted">{{ task.is_finished }}</h6>
            <p class="card-text">{{task.description}}</p>
            <a href="{% url 'todolist:marker' task.id %}" class="card-link"><button>Update</button></a>
            <a href="{% url 'todolist:delete' task.id %}" class="card-link"><button>Delete</button></a>
          </div>
        </div>
      </div>
        
      {%endfor%}  
    </div>
  
  </div>
</center>

 {% endblock content %}
