{% extends 'base.html' %}

 {% block content %}

<center style="color: deeppink">

    <h1>Lab 3 Assignment PBP/PBD</h1>

    <h5>Name: </h5>
    <p>{{nama}}</p>

    <h5>Student ID: </h5>
    <p>{{NPM}}</p>

    <h5>Pesan:</h5>
    <p>{{pesan}}</p>
</center>

<style> body{
    background-color:navajowhite;

</style>
}

    
  <table border="1">
    <tr>
      <th>Watched</th>
      <th>Title</th>
      <th>Rating</th>
      <th>Release Date</th>
      <th>Review</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% for film in mywatchlist %}
      <tr>
        <th>{{film.watched}}</th>
        <th>{{film.title}}</th>
        <th>{{film.rating}}</th>
        <th>{{film.release_date}}</th>
        <th>{{film.review}}</th>
      </tr>
    {%endfor%}  

  </table>

 {% endblock content %}
